services:
  springboot-app:
    build: .
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - prometheus
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/mydb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
      APP_JWT_SECRET : mySuperSecretJWTSigningKeyThatIsAtLeast32BytesLong!
      APP_JWT_EXPIRATION_MS : 86400000
      APP_JWT_REFRESHTOKEN_EXPIRATION : 604800

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml # Mount the config file
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources # Pre-configure data source
    depends_on:
      - prometheus

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
    driver: local
  grafana_data:
    driver: local

#
#postgres:
#  image: postgres:15.3
#  environment:
#    POSTGRES_USER: myuser
#    POSTGRES_PASSWORD: secret
#    POSTGRES_DB: mydb
#  ports:
#    - "5432:5432"
#  volumes:
#    - pgdata:/var/lib/postgresql/data
#
#volumes:
#  pgdata:
#    driver: local

